.what-we-do-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* две карточки в строке */
  margin-top: 40px;
}

.tm-continue {
  padding: 20px 0 30px 0;
  text-decoration: none !important;
  margin-right: 270px;
}
.tm-continue a {
    text-decoration: none;
}